{-webkit-font-smoothing: antialiased;}
head {
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
}
body {
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
}

h1 {
	font-weight: 1000;
	font-size: 60px;
	color: #212529;
}

h2 {
	font-weight: 900;
	font-size: 45px;
	color: gray;
}
h3 {
	font-weight: 600;
	font-size: 25px;
	color: #212529;	
}
p {
	font-weight: 500;
	font-size: 20px;
	color: #888888;
}

p2 {
	font-weight: bold;
	color: #881c1c;
}

p3 {
	font-weight: 515;
	font-size: 20px;
	color: #608ef6;
}
.header {
	padding: 50px 110px;
	text-align: left; 
  	background: #ffffff;
  	color: black; 
  	word-spacing: normal;
}
.links {
	padding: 50px;
}
.content{
	padding: 50px 110px;
}
.content a{
	text-decoration: none;
}
.about {
	box-sizing: content-box;
	padding: 50px 110px;
	width: 1000px;
}

.fa{
	color: #333333;
}